.managerContainer {
	background-color: var(--mui-palette-background-paper);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	min-width: 900px;
    min-height: 500px;
	max-height: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.moduleSelectContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.moduleSelect {
	margin-right: 50%;
    margin-bottom: 0;
}

.moduleActionButtons {
	display: flex;
	gap: 10px;
}

.listsContainer {
	display: flex;
	justify-content: space-between;
	flex: 1;
	overflow-y: auto;
	margin-bottom: 20px;
}

.listSection {
	flex: 1;
	margin: 0 10px;
}

.scrollableList {
	max-height: 300px;
	overflow-y: auto;
	padding-right: 8px;
	list-style-type: none;
	padding: 0;
}

.listItem {
	padding: 8px;
	border: 1px solid var(--mui-palette-background-default);
	border-radius: 4px;
	margin-bottom: 8px;
	background-color: var(--mui-palette-background-paper);
	cursor: pointer;
	transition: background-color 0.2s ease-in-out; /* Smooth transition for hover and selection */
}

.listItem:hover {
	background-color: var(--mui-palette-background-hover);
}

.actionButtons {
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}

.toggleBtn {
	padding: 10px 20px;
	border-radius: 4px;
	color: white;
	border: none;
	cursor: pointer;
}

.enableBtn {
	background-color: #28a745;
}

.disableBtn {
	background-color: #dc3545;
}
.disabled {
    background-color: #4f5153;
    color: #6c757d;
    cursor: not-allowed;
}
.selected {
	border-color: var(--primary);
}
