html,
body,
#root {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

.app-container {
	display: flex;
	flex-grow: 1;
	height: calc(100%);
	/* overflow: hidden; */
	width: 100%;
	gap: 5px; /* Add a gap between the components */
	margin-top: 5px;
}

.file-explorer-container {
	display: flex;
	height: 100%; /* Full height */
	overflow: hidden;
}

.file-explorer {
	display: flex;
	flex-direction: column;
	background-color: var(--mui-palette-background-paper);
	color: var(--mui-palette-text-primary);
	border-right: 1px solid #333333;
	overflow: hidden;
	height: 100%; /* Ensure the file explorer takes full height */
	position: relative; /* Ensure relative positioning for the resize handle */
}

.file-explorer .icon-button {
	background: none;
	border: none;
	color: var(--mui-palette-text-primary);
	cursor: pointer;
	padding: 0 8px;
	display: flex;
	align-items: center;
}

.icon-button {
	background: none;
	border: none;
	color: var(--mui-palette-text-primary);
	cursor: pointer;
	padding: 0 8px;
	display: flex;
	align-items: center;
}

.icon-button:hover {
	color: #007acc;
}
.icon-button:disabled {
	color: #aaaaaa; /* Disabled text color */
	cursor: not-allowed;
}

.file-explorer .loading {
	border: 1px solid #333333;
	padding: 10px;
}

.file-explorer .resize-handle-container {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	cursor: ew-resize;
	z-index: 5; /* Ensure the resize handle is above other elements */
}

.file-explorer .resize-handle {
	height: 100%;
	width: 100%;
	background-color: transparent;
}

.editor-pane-container {
	display: flex;
}

.editor-pane {
	display: flex;
	flex-direction: column;
	background-color: var(--mui-palette-background-paper);
	color: var(--mui-palette-text-primary);
	border-right: 1px solid #333333;
	overflow: hidden;
	height: 100%; /* Ensure the editor pane takes full height */
	position: relative; /* Ensure relative positioning for the resize handle */
}

.file-editor-container {
	display: flex;
}

.file-editor {
	display: flex;
	flex-direction: column;
	background-color: var(--mui-palette-background-paper);
	color: var(--mui-palette-text-primary);
	border-right: 1px solid #333333;
	overflow: hidden;
	height: 100%; /* Ensure the file editor takes full height */
}

.resize-handle-container {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	cursor: ew-resize;
	z-index: 5; /* Ensure the resize handle is above other elements */
}

.resize-handle {
	height: 100%;
	width: 100%;
	background-color: transparent;
}
