.footer {
	background: var(--mui-palette-background-default);
	color: var(--mui-palette-text-primary);
	padding: 2px 10px;
	width: 100%;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footerContent {
	display: relative;
}

.footerLogo {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.footerLogo p {
    margin: 0px 0px 0px 0px;
}

.footerSocial {
	display: block;
	align-items: center;
    position:relative;
    float: right;
}

.footerSocial svg {
	width: 20px;
	height: 20px;
}
