@import "tailwindcss";

/* Global scrollbar styling to match Monaco Editor (vs-dark) */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--mui-palette-background-paper);
}

::-webkit-scrollbar-thumb {
	background-color: #454545;
	border-radius: 10px;
	border: 3px solid var(--mui-palette-background-paper);
}

::-webkit-scrollbar-thumb:hover {
	background-color: #646464;
}

/* General reset */
body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--mui-palette-background-pure);
	color: var(--mui-palette-text-primary);
	display: flex;
	flex-direction: column;
}
html,
body,
#root {
	height: 100%;
	margin: 0;
	overflow: hidden; /* Prevent scrolling */
}

/* Root container styles */
.root-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Main content styles */
main {
	flex-grow: 1;
	padding: 0px;
	overflow: hidden;
}

.navbar-component {
	display: flex;
	align-items: center;
	background-color: var(--mui-palette-background-default);
	padding: 8px;
	border-bottom: 1px solid #333333;
    height: var(--componentNavbarHeight);
}

.navbar-component.collapsed {
	justify-content: center;
}
.navbar-component button {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-component-title {
	font-weight: bold;
}
.take-full-width {
	flex-grow: 1;
}

.text-display {
    margin: 10px;
}
.navbar-circle-icon {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: 8px;
	display: inline-block;
}
